@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.top-bar {
    width: 100%;
    background: #333;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8px 80px;
}

.top-bar a {
    color: #aaa;
    text-decoration: none;
    font-size: 14px;
}

.top-bar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.top-bar > ul:last-child {
    justify-content: end;
}

.main-nav {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 5%;
    justify-content: space-between;
    box-shadow: 0px 2px 5px #333;
    background-color: #fff;
}

.logo {
    height: 60px;
}

.main-menu {
    list-style: none;
    display: flex;
}

.main-menu li {
    position: relative;
    z-index: 20;
}

.main-menu li a {
    text-decoration: none;
    color: #333;
    padding: 15px;
    font-size: 14px;
    display: block;
}

.main-menu > li > a {
    line-height: 75px;
    padding: 0 15px;
}

.main-menu a:hover {
    color: #00f;
}

.sub-menu {
    list-style: none;
    width: 240px;
    position: absolute;
    background-color: #fff;
    top: 120%;
    left: 0;
    box-shadow: 0px 2px 5px #333;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: -10;
}

.main-menu > li:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

.sub-sub-nav {
    list-style: none;
    position: absolute;
    top: 0;
    left: 120%;
    width: 240px;
    background-color: #fff;
    box-shadow: 0px 2px 5px #333;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.sub-menu > li:hover > .sub-sub-nav {
    visibility: visible;
    opacity: 1;
    left: 100%;
}

.banner {
    width: 100%;
    background-image: url("../images/daffodil-international-professional-training-institute-dipti2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.banner > .over-lay {
    width: 100%;
    padding: 180px 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;;
}

.banner > .over-lay > h2 {
    font-size: 80px;
    width: min(100%, 1080px);
    margin: auto;
}

.banner > .over-lay > p {
    font-size: 18px;
    width: min(100%, 1080px);
    margin: 30px auto;
}

.banner > .over-lay > button {
    font-size: 20px;
    background: #0345bf;
    border-color: #0345bf;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.banner > .over-lay > button:hover {
    background: #0345bf;
    border-color: #0345bf;
}

.demo-content {
    min-height: 200vh;
}