*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0), rgba(255,255,255,0.5), rgba(0,0,0,0));
    position: relative;
    >div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >img{
            max-height: 160px;
            width: max-content;
        }
        >h3{
            margin-bottom: 16px;
        }
        >ul{
            width: max-content;
            margin: auto;
            list-style: none;
            display: flex;
            >li{
                border: 1px solid #000;
                width: 40px;
                border-radius: 50%;
                position: relative;
                overflow: hidden;
                z-index: 10;
                &:not(:last-child){
                    margin-right: 6px;
                }
                >a{
                    text-decoration: none;
                    display: block;
                    line-height: 40px;
                    text-align: center;
                    color: #000;
                }
                &::before{
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    transition: 0.5s;
                    z-index: -5;
                }
                &:hover{
                    >a{
                        color: #fff;
                    }
                    &::before{
                       top: 0%; 
                    }
                }
                &:nth-child(1){
                    &::before{
                        background: #0675E8;
                    }
                }
                &:nth-child(2){
                    &::before{
                        background: black;
                    }
                }
                &:nth-child(3){
                    &::before{
                        background: #0077B5;
                    }
                }
                &:nth-child(4){
                    &::before{
                        background: #000;
                    }
                }
                &:nth-child(5){
                    &::before{
                        background: #FF5700;
                    }
                }
            }
        }
    }
    >video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -20;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-1 {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.sakib {
    width: 300px;
    height: 300px;
    background: url("../images/sakib-sakib-khan.gif");
    background-size: cover;
    position: relative;
}

.a, .b, .c, .d {
    width: 150px;
    height: 150px;
    position: absolute;
}

.a {
    background: url("../images/apu.jpg");
    background-size: cover;
    animation: apu 4s infinite linear;
}

.b {
    background: url("../images/bubli.jpg");
    background-size: cover;
    animation: bubly 4s infinite linear;
}

.c {
    background: url("../images/chery.jpg");
    background-size: cover;
    bottom: -75px;
    right: -75px;
    animation: puja 4s infinite linear;
}

.d {
    background: url("../images/dighi.jpg");
    background-size: cover;
    bottom: -75px;
    left: -75px;
    animation: dighi 4s infinite linear;
}

@keyframes apu {
    0% {
        top: -75px;
        left: -75px;
    }
    25% {
        top: -75px;
        left: 225px;
    }
    50% {
        top: 225px;
        left: 225px;
    }
    75% {
        top: 225px;
        left: -75px;
    }
    100% {
        top: -75px;
        left: -75px;
    }
}

@keyframes bubly {
    0% {
        top: -75px;
        right: -75px;
    }
    25% {
        top: 225px;
        right: -75px;
    }
    50% {
        top: 225px;
        right: 225px;
    }
    75% {
        top: -75px;
        right: 225px;
    }
    100% {
        top: -75px;
        right: -75px;
    }
}

@keyframes puja {
    0% {
        bottom: -75px;
        right: -75px;
    }
    25% {
        bottom: -75px;
        right: 225px;
    }
    50% {
        bottom: 225px;
        right: 225px;
    }
    75% {
        bottom: 225px;
        right: -75px;
    }
    100% {
        bottom: -75px;
        right: -75px;
    }
}

@keyframes dighi {
    0% {
        bottom: -75px;
        left: -75px;
    }
    25% {
        bottom: 225px;
        left: -75px;
    }
    50% {
        bottom: 225px;
        left: 225px;
    }
    75% {
        bottom: -75px;
        left: 225px;
    }
    100% {
        bottom: -75px;
        left: -75px;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    >.nav {
        display: flex;
        list-style: none;
        margin: auto;
        position: relative;
        z-index: 100;
        li{
            width: 60px;
            &:not(:last-child){
                margin-right: 20px;
            }
            &:first-child{
                >a{
                    background-image: linear-gradient(#1877f2, #1877f2, #000);
                }
            }
            &:nth-child(2){
                >a{
                    background-image: linear-gradient(#1DA1F2, #1DA1F2, #000);
                }
            }
            &:nth-child(3){
                >a{
                    background-image: linear-gradient(#0077B5, #0077B5, #000);
                }
            }
            &:nth-child(4){
                >a{
                    background-image: linear-gradient(#f00, #f00, #000);
                }
            }
            &:last-child{
                >a{
                    background-image: linear-gradient(#25D366, #25D366, #000);
                }
            }
            >a{
                text-decoration: none;
                display: block;
                line-height: 60px;
                color: transparent;
                -webkit-text-stroke: 1px #333;
                font-size: 32px;
                text-align: center;
                background-clip: text;
                background-repeat: no-repeat;
                background-size: 60px 60px;
                background-position: 60px 60px;
                transition: 1s;
            }
            &:hover{
                filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
                >a{
                    background-position: 0px 0px;
                    animation: sn 0.5s forwards 1 linear;
                }
            }
        }
    }
    &::before{
        content: "";
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        animation: mb 5s forwards infinite linear;
        z-index: -10;
    }
    &::after{
        content: "";
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        animation: ma 5s forwards infinite linear;
        z-index: -20;
    }
    .pain-2{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 30;
        
        background-attachment: absolute;
        background-clip: text;
        background-size: cover;
        color: transparent;
        >div{
            background: inherit;
            font-size: 3vw;
            font-weight: bolder;
            text-transform: uppercase;
            letter-spacing: 3px;
            position: absolute;
            z-index: 40;
            width: max-content;
            &:first-child{
                animation: bd1 5s forwards infinite linear;
            }
            &:nth-child(2){
                animation: bd2 5s forwards infinite linear;
            }
            &:nth-child(3){
                animation: bd3 5s forwards infinite linear;
            }
            &:last-child{
                animation: bd4 5s forwards infinite linear;
            }
        }
    }
}

@keyframes sn {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes mb {
    0%{
        background: rgba(221, 221, 221, 0.6);
        width: 100%;
    }
    25%{
        background: rgba(221, 221, 221, 0.6);
        width: 0%;
    }
    50%{
        background: rgba(204, 204, 204, 0.6);
        width: 100%;
    }
    75%{
        background: rgba(204, 204, 204, 0.6);
        width: 0%;
    }
    100%{
        background: rgba(221, 221, 221, 0.6);
        width: 100%;
    }
}
@keyframes ma {
    0%{
        background: rgba(204, 204, 204, 0.6);
        width: 100%;
    }
    25%{
        background: rgba(204, 204, 204, 0.6);
        width: 0%;
    }
    50%{
        background: rgba(221, 221, 221, 0.6);
        width: 100%;
    }
    75%{
        background: rgba(221, 221, 221, 0.6);
        width: 0%;
    }
    100%{
        background: rgba(204, 204, 204, 0.6);
        width: 100%;
    }
}

@keyframes bd1 {
    0%{
        left: 0;
        top: 0;
        transform: translate(0%, 0%);
    }
    25%{
        left: 100%;
        top: 0%;
        transform: translate(-100%, 0%);
    }
    50%{
        left: 100%;
        top: 100%;
        transform: translate(-100%, -100%);
    }
    75%{
        left: 0%;
        top: 100%;
        transform: translate(0%, -100%);
    }
    100%{
        left: 0%;
        top: 0%;
        transform: translateX(0%, 0%);
    }
}

@keyframes bd2 {
    0%{
        right: 0%;
        top: 0%;
        transform: translate(0%, 0%);
    }
    25%{
        right: 0%;
        top: 100%;
        transform: translate(0%, -100%);
    }
    50%{
        right: 100%;
        top: 100%;
        transform: translate(100%, -100%);
    }
    75%{
        right: 100%;
        top: 0%;
        transform: translate(100%, 0%);
    }
    100%{
        right: 0;
        top: 0;
        transform: translate(0%, 0%);
    }
}

@keyframes bd3 {
    0%{
        right: 0;
        bottom: 0;
        transform: translate(0%, 0%);
    }
    25%{
        right: 100%;
        bottom: 0%;
        transform: translate(100%, 0%);
    }
    50%{
        right: 100%;
        bottom: 100%;
        transform: translate(100%, 100%);
    }
    75%{
        right: 0%;
        bottom: 100%;
        transform: translate(0%, 100%);
    }
    100%{
        right: 0;
        bottom: 0;
        transform: translate(0%, 0%);
    }
}

@keyframes bd4 {
    0%{
        left: 0;
        bottom: 0;
        transform: translate(0%, 0%);
    }
    25%{
        left: 0%;
        bottom: 100%;
        transform: translate(0%, 100%);
    }
    50%{
        left: 100%;
        bottom: 100%;
        transform: translate(-100%, 100%);
    }
    75%{
        left: 100%;
        bottom: 0%;
        transform: translate(-100%, 0%);
    }
    100%{
        left: 0;
        bottom: 0;
        transform: translate(0%, 0%);
    }
}